.footer {
  position: relative;

  padding: 80px 24px 40px;

  background: #040404;

  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-container {
  max-width: 1400px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 50px;

  flex-wrap: wrap;
}

.footer-brand h2 {
  font-size: 2rem;

  font-weight: 900;

  letter-spacing: 2px;

  margin-bottom: 20px;
}

.footer-brand p {
  max-width: 450px;

  color: #a1a1aa;

  line-height: 1.8;
}

.footer-links {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.footer-links a {
  color: #a1a1aa;

  text-decoration: none;

  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}

.footer-bottom {
  max-width: 1400px;

  margin: 60px auto 0;

  padding-top: 30px;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  text-align: center;
}

.footer-bottom p {
  color: #71717a;

  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}
